



<table class = "table table-striped table-bordered table-hover">
  <thead class="table-dark">


<%  if user_signed_in? %>

 <br>
 <br>


    <tr>


      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Salary</th>
      <th>Comments</th>
      <!-- <th>User ID</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >

      
    <% @leads.each do |lead| %>

    <% if lead.user == current_user %>
      <tr>
        <td>
          
               <%= link_to lead.first_name, lead ,style:"text-decoration:none;"%>
               <%= link_to lead.last_name, lead ,style:"text-decoration:none;"%>


             </td>
        <td><%= lead.email %></td>
        <td><%= lead.phone %></td>
        <td><%= lead.salary %></td>
        <td><%= lead.comments %></td>
        
       <!--  <td><%= lead.user_id %></td> -->

        <td><%= link_to 'Edit', edit_lead_path(lead),style:"text-decoration:none;" %></td>
        <td><%= link_to 'Destroy', lead,style:"text-decoration:none;", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lead', new_lead_path,style:"text-decoration:none;",class:"btn btn-secondary" %>


<% else %>



<p>Home....</p>

<% end %>